:root{
  color-scheme: dark;
}

*{
  margin: 0;
  line-height: calc(1em + 0.5rem);
  font-family: 'Clash Grotesk', sans-serif;
}

body{
  background-color: black;
}

button{
  background: none;
  border: none;
}

svg{
  width:0.75rem
}

.empty{
  height: 4rem;
}